<div id="bottominfo">
	<div class="container">
		
		<!-- bottom left information -->
		<div class="bottomcolumn">
			<h3>Links to Help You Succeed</h3>
			<p>Follow these links to learn more great business tips</p>
			<ul class="borderedlist iconlist">
				<li><a href="#" title="Keep your clients in the know">Keep your clients in the know</a></li>
				<li><a href="#" title="Current specials and discounts">Current specials and discounts</a></li>
				<li><a href="#" title="Links to your services and promos">Links to your services and promos</a></li>
			</ul>
		</div>
		
		<!-- bottom center information -->
		<div class="bottomcolumn">
			<h3>Recent Client Lists</h3>
			<p>Here is a list of some of our satisfied customers.</p>
			<ul class="borderedlist iconlist">
				<li><a href="#" title="Keep your clients in the know">Keep your clients in the know</a></li>
				<li><a href="#" title="Current specials and discounts">Current specials and discounts</a></li>
				<li><a href="#" title="Links to your services and promos">Links to your services and promos</a></li>
			</ul>
		</div>
		
		<!-- bottom right information -->
		<div class="bottomcolumn bottomright">
			<h3>Stay Informed</h3>
			<p>Subscribe to our e-news. Every month you recieve all the latest info, straight to your inbox.</p>
			<form action="#">
				<input type="text" name="email" class="enewsbox" />
				<input type="button" class="button" value="Submit" />
			</form>
		</div>
		
		<hr />
	</div>
</div>