<h2>New State</h2>

<%= error_messages_for :state %>

<% form_for(:state, :url => states_path) do |f| %>
  
	<%= render :partial => "form" %>
	<%= submit_tag _("Create") %>
<% end %>

<%= link_to _('Back'), states_path %>