<!-- HEADER: Holds title, subtitle and header images -->
<div id="header">

  <div id="title">
    <h1>for a better living</h1>
	<h2>in the city</h2>
  </div>

  <img src="/images/lazydays/bg/balloons.gif" alt="balloons" class="balloons" />
  <img src="/images/lazydays/bg/header_left.jpg" alt="left slice" class="left" />
  <img src="/images/lazydays/bg/header_right.jpg" alt="right slice" class="right" />

</div>