<h2><%= _("Edit Settings") %></h2>

<%= error_messages_for :setting %>

<% form_for @setting, :html => { :method => :put } do |f| %>
	
	<%= render :partial => "form" %>
	<p> <%= submit_tag _("Save") %> </p>
<% end %>

<%= link_to _("Back"), settings_path %>
