<!--[form:location]-->
<p><label for="location_name">Name</label><br/>
<%= text_field 'location', 'name'  %></p>

<!--[form:location]-->
<p><label for="location_top_position">Top Position</label><br/>
<%= text_field 'location', 'top_position'  %></p>

<!--[form:location]-->
<p><label for="location_left_position">Left Position</label><br/>
<%= text_field 'location', 'left_position'  %></p