<h2>Editing location</h2>

<%= error_messages_for :location %>

<% form_for(:location, :url => location_path(@location), :html => { :method => :put }) do |f| %>

	<%= render :partial => "form" %>
	<%= submit_tag _("Save") %>
<% end %>

<%= link_to _('Back'), locations_path %>